<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3 class="text-center">Forgot Password</h3>
      <form [formGroup]="forgot" (ngSubmit)="onSubmit(forgot)">
        <label for="email"></label>
        <input
          type="text"
          formControlName="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <div
          *ngIf="f.email.touched && f.email.errors?.['required']"
          class="text-danger"
        >
          Required
        </div>
        <div
          *ngIf="f.email.touched && f.email.errors?.['email']"
          class="text-danger"
        >
          Invalid email
        </div>
       
        <button [disabled]="forgot.invalid" class="btn btn-primary mt-4 w-100">
          Submit
        </button>
      </form>
    </div>
  
    <div class="col-md-3"></div>
  </div>
  
