<div class="row m-2">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control me-2" placeholder="Search" />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productlist">
  <div class="container">
    <div class="row">
      <div *ngFor="
          let product of productlist
            | paginate
              : {
                  id: 'foo',
                  itemsPerPage: size,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        " class="col-md-4 card mb-3 w-25 me-5" >
        <img class="card-img-top" src="{{ baseurl + product?.thumbnail }}" alt="Card image cap" (click)="productdetail(product?._id)" />
        <div class="card-body">
          <p>{{ product?.productName }}</p>
          <div class="d-flex justify-content-between">
            <p class="card-text">{{ product?.price | currency: "INR" }}</p>
            <button class="btn btn-primary" (click)="cart(product?._id)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls id="foo" (pageChange)="pageChanged($event)" ></pagination-controls>
</div>